<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="manifest" href="/site.webmanifest">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png?v=7kozbjpjX4">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png?v=7kozbjpjX4">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png?v=7kozbjpjX4">
<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=7kozbjpjX4" color="#2347af">
<link rel="shortcut icon" href="/images/icons/favicon.ico?v=7kozbjpjX4">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=7kozbjpjX4">
<meta name="theme-color" content="#03256c">

{{#if meta.description }}
<meta name="description" content="{{meta.description}}">
<meta property="og:description" content="{{meta.description}}">
<meta name="twitter:description" content="{{meta.description}}">
{{ else }}
<meta name="description" content="">
<meta name="og:description" content="">
<meta name="twitter:description" content="">
{{/if}}

{{#if meta.image }}
<meta property="og:image" content="{{ site.url }}{{ meta.image }}">
<meta name="twitter:image" content="{{ site.url }}{{ meta.image }}">
<meta name="twitter:card" content="summary_large_image">
{{ else }}
<meta property="og:image" content="{{ site.url }}">
<meta name="twitter:image" content="{{ site.url }}">
<meta name="twitter:card" content="summary_large_image">
{{/if}}

<meta property="og:title" content="{{#if title }}{{ title }}{{else}}{{/if}}">
<meta name="twitter:title" content="{{#if title }}{{ title }}{{else}}{{/if}}">

<meta property="og:url" content="{{ site.url }}{{#if permalink }}{{ permalink }}{{/if}}">
<meta name="twitter:url" content="{{ site.url }}{{#if permalink }}{{ permalink }}{{/if}}">

<meta property="og:type" content="article">
